.onboarding-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 24px;

  p {
    color: #1cbe93;
    text-align: center;
  }
}

.onboarding-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0 0;
  gap: 8px;
}